.basket{
    position:absolute;
    top:5%;
    right:0;
   width: 200px;
}
#cart-pic{
    width: 100px;
}
.basket-button{
    position:absolute;
    bottom:0;
    right:300px;
    background: #161f53b9;
}
.add-img{
    width: 25px;
    filter: invert(95%) sepia(7%) saturate(346%) hue-rotate(325deg) brightness(104%) contrast(92%);
}
.item{
    border: solid white;
    padding: 1px;
    margin: 5px
}