.basket{
   width: 200px;
   display: inline-block;
}
#cart-pic{
    width: 100px;
}
.basket-button{
    background: #161f53b9;
}
.add-img{
    width: 50px;
    filter: invert(95%) sepia(7%) saturate(346%) hue-rotate(325deg) brightness(104%) contrast(92%);
}
.item{
    border: solid white;
    padding: 5px;
    margin: 5px
}