.all-steps{
   
}
.steps{
    display: inline-block;
    width: 30%;
    background: #161f53b9;
    color: white;
    outline: none;
    padding: 0;
    border: none;
}
.steps-button{
    padding: 2px;
    background: #161f53b9;
    color: white;
    display: inline-block;
    
    width: 10%
}